<h1>Welcome to The Get Things Done App.</h1>

</br>
</br>
</br>


<%= form_with(url: "/thoughts", method: "post") do %>
  <%= label_tag(:q, "Write 3 or more things on your mind now.") %>
  </br>
<%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>




<table>
  <thead>
  <tr>
    <th>Shared Thoughts</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  </br>
  <tbody>
  <% @thoughts.each do |thought| %>
    <tr>
      <td><%= thought.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
