<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.select :priority, %w[high medium low], include_blank: true %>
  </div>

  <div class="actions">
    <!-- pass thought id data so a thought can be deleted in POST call to create task -->
    <%= hidden_field_tag(:thought_id, params[:thought_id]) %>
    <%= form.submit %>
  </div>
<% end %>
